{% extends "appone/new_base.html"%}
{% load crispy_forms_tags %}
{% block content %}

<br>
<br>
<br>
<br>

<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <div class="w3-display-middle w3-margin-top w3-center">
      <h1  class="w3-xxlarge w3-text-white">
          <span class="w3-padding w3-grey"><b style="color:white">Edit Your post</b></span>
      </h1>

  </div>
</header>

<br>
<br>
<br>
<div class="container">

    <br>
    <br>
  <form style="text-align:center" action="" method="POST">
    {% csrf_token %}
      {{ form|crispy }}
      <br>
      {{ form.media}}
    <button type="submit" class="btn btn btn-primary btn-lg center-block">Submit</button>
</form>

</div>


{% endblock %}
