{% extends "appone/base.html"%}
{% load crispy_forms_tags %}

{% block content %}
<br>


<div style="padding: 20px;
  text-align: center;
  <!--background: #B9D2E3;-->
  color: white;
  font-size: 30px;" class="header">
  <p>All comments !</p>
</div>



    {% if messages %}
    {% for message in  messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    <br>

{% for Posts in Post %}

<br>
<div style="padding: 0px 10px" class="container">

  <div style="border: 2px solid #d6d6d6; box-shadow: 3px 6px #888888" class="row">

    <div style="padding-top: 60px;text-align:center; " class="col-xs-4 col-sm-4">
        Post did by
        <h1><strong style="font-size:25px">#{{ Posts.author }}</strong></h1>

    </div>

    <div  style="border-left: 1px solid #d6d6d6;padding: 20px; text-align:center;" class="col-xs-8 col-sm-8">
      <h3><a href="{% url 'postone' Posts.pk%}">{{ Posts.title }}</a></h3>
            <br>
            <p style="font-weight: bold; font-size:15px">{{ Posts.text|truncatechars:200}}</p>
            <br>
            {{ Posts.date_posted }}
            <br>
            <br>
            <span class="glyphicon glyphicon-thumbs-up" style="color:blue; font-size:20px">{{ Posts.likes }}</span>&nbsp;
            <span class="glyphicon glyphicon-thumbs-down" style="color:red; font-size:20px">{{ Posts.dislikes }}</span>
            &nbsp;
            <span class="glyphicon glyphicon-comment" style="font-size:20px">{{ Posts.number_comments }}</span>

    </div>
  </div>
</div>
<br>
{% endfor %}


{% endblock %}
