{% extends "appone/base.html"%}
{% load crispy_forms_tags %}

{% block content %}

<form action="" method="POST">
    {% csrf_token %}
    <button type="submit" name="likes" class="btn btn-primary">Likes</button>
    <h3>{{ likes  }}</h3>
    <button type="submit" name="dislikes" class="btn btn-primary">DisLikes</button>
    <h3>{{ dislikes  }}</h3>
    <button type="submit" name="dislikes_author" class="btn btn-primary">DisLikes_Author</button>
    <h3>{{ dislikes_author  }}</h3>
</form>



{% endblock %}
