{% extends "appone/new_base.html"%}
{% load crispy_forms_tags %}
{% block content %}

<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->

<br>
<br>

 <!--<div style="padding-top:20px; text-align:center" class="w3-card-4 w3-margin w3-white">-->
    <!--<div class="w3-container">-->
      <!--<h1>toto</h1>-->
    <!--</div>-->
    <!--</div>-->

<div style="padding-top:20px; text-align:center" class="w3-card-4 w3-margin w3-white">
<div class="w3-container">
  <div style=" background-color:white" class="row">

    <div style="padding-top: 60px;text-align:center; " class="col-xs-4 col-sm-4">
        Post did by
        <h1><strong style="font-size:25px">#{{ author }}</strong></h1>

    </div>

    <div  style="border-left: 1px solid #d6d6d6;padding: 20px;" class="col-xs-8 col-sm-8">
      <h3 style="font-weight: bold; font-size:30px;text-align:center">{{ title }}</h3>
            <br>
            <br>
            <p style="">{{ text}}</p>
            <br>
            {{ Posts.date_posted }}
            <br>
            <br>

    </div>
  </div>
</div>
</div>

<!--&lt;!&ndash; Grid &ndash;&gt;-->
<!--<div class="w3-row">-->

<!--&lt;!&ndash; Blog entries &ndash;&gt;-->
<!--<div class="w3-col l8 s12">-->


  <!--<div style="padding-top:20px" class="w3-card-4 w3-margin w3-white">-->
    <!--<div class="w3-container">-->
      <!--<h3><b>{{ title }}</b></h3>-->

      <!--<h5><span style="color:blue">@{{ author }}</span>&nbsp;<span class="w3-opacity">{{ Posts.date_posted }}</span></h5>-->
        <!--<br>-->
    <!--</div>-->

    <!--<div class="w3-container">-->
      <!--<p>-->
          <!--{{ text}}-->
      <!--</p>-->
        <!--<br>-->
    <!--</div>-->
  <!--</div>-->
  <!--<hr>-->
<!--&lt;!&ndash; END BLOG ENTRIES &ndash;&gt;-->
<!--</div>-->



<br>
<br>

<div style="text-align:center" class="container">
    <form action="" method="POST">
        {% csrf_token %}
        <button type="submit" name="likes" class="btn btn-primary">
            <span class="glyphicon glyphicon-thumbs-up"></span>
            {{ likes  }}
        </button>
        <button type="submit" name="dislikes" class="btn btn-danger">
            <span class="glyphicon glyphicon-thumbs-down"></span>
            {{ dislikes  }}
        </button>
    </form>
</div>

<br>
<br>


<br>
    {% if messages %}
    {% for message in  messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    <br>

    <div style="padding: 20px;
  text-align: center;
  background: #B9D2E3;
  color: white;
  font-size: 30px;" class="header">

</div>

    <br>
    <br>

<div  class="container">
    <form action="" method="POST">
        {% csrf_token %}
        {{ comment|crispy }}
        <button type="submit" name="leave_comment" class="btn btn-primary">SUBMIT</button>
    </form>

    <br>
    <br>

    {% for Posts in all_comments %}
        <div style="border: 1px solid black; padding: 20px;
         text-align:center">
            <h1>{{ Posts.author | title }}</h1>
            <p>{{ Posts.content }}</p>
            {{ Posts.date_posted }}

        </div>
        <br>
        <br>
    {% endfor %}

</div>







{% endblock %}



