{% extends "appone/new_base.html"%}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'appone/css/one_post.css' %}">

<br>
<br>


<div style="padding-top:20px" class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
      <h1><b>{{ title }}</b></h1>
      <h3><span style="color:blue">@{{ author }}</span>&nbsp;<span class="w3-opacity">{{ date_posted }}</span></h3>

        <br>
    </div>

    <div class="w3-container">
      <p>
          {{ text|safe|linebreaks}}
      </p>
        <br>
    </div>
  </div>

<br>

{% if user.is_authenticated %}
<div style="text-align:center" class="container">
    <form action="" method="POST">
        {% csrf_token %}
        <button type="submit" name="likes" class="btn btn-primary">
            <span class="glyphicon glyphicon-thumbs-up"></span>
            {{ likes  }}
        </button>
        <button type="submit" name="dislikes" class="btn btn-danger">
            <span class="glyphicon glyphicon-thumbs-down"></span>
            {{ dislikes  }}
        </button>
    </form>
</div>

<br>



<br>
    {% if messages %}
    {% for message in  messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    <br>


<div id="totoo" class="container">
    <h1> <span style="font-size:20px" class="glyphicon glyphicon-comment"> </span> &nbsp;Comments {{ number_comments }}</h1>
</div>

<div style="text-align:center"class="container">

    <form action="" method="POST" >
        {% csrf_token %}
        {{ comment| crispy }}
        {{ comment.media }}
        <button type="submit" name="leave_comment" class="btn btn-primary">SUBMIT</button>
    </form>
</div>


<br>


<div id="totoo" class="container">


    {% for Posts in all_comments %}
        <div id="toto">
            <h2>@{{ Posts.author | title }}</h2>
            <br>
           {{ Posts.content|safe}}
            {{ Posts.date_posted }}

        <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Reply
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!--<h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>-->
          <form action="" method="POST" >
        {% csrf_token %}
        {{ comment| crispy }}
        {{ comment.media }}
        <button type="submit" name="comment_a_comment" class="btn btn-primary">SUBMIT</button>
    </form>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>

    </div>
  </div>
</div>

        </div>
        <br>
    {% endfor %}

</div>


{% else %}

<br>

<div id="totoo" class="container">
    <h1> <span style="font-size:20px" class="glyphicon glyphicon-comment"> </span> &nbsp;Comments {{ number_comments }}</h1>
</div>

<div style="text-align:center"class="container">

    <form action="" method="POST" >
        {% csrf_token %}
        {{ comment| crispy }}
        {{ comment.media }}

    </form>
    <br>
    <h2 id="post"> Do you want to post your answer ?</h2>
    <br>
    <button type="button" class="btn btn-info btn-rounded">
        <a style="color:white; font-size:13px" class="nav-link" href="{% url 'register' %}">Sign up</a>
    </button> &nbsp; or &nbsp;
    <button type="button" class="btn btn-success btn-rounded">
        <a style="color:white; font-size:13px" class="nav-link" href="{% url 'login' %}">Sign in</a>
    </button>

</div>

<br>
<br>
<br>
<br>

<div id="totoo" class="container">


    {% for Posts in all_comments %}
        <div id="toto">
            <h2>@{{ Posts.author | title }}</h2>
            <br>
           {{ Posts.content|safe}}
            {{ Posts.date_posted }}
        </div>
        <br>
    {% endfor %}

</div>

{% endif %}




{% endblock %}



