{% extends "appone/new_base.html"%}
{% load crispy_forms_tags %}

{% block content %}
<br>
<br>
<br>

<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <div class="w3-display-middle w3-margin-top w3-center">
      {% if tag == "Python" %}
          <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-green"><b>#{{tag}}</b></span></h1>
          {% elif tag == "Java" %}
          <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-blue"><b>#{{tag}}</b></span></h1>
            {% elif tag == "JavaScript" %}
          <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-yellow w3-opacity-min"><b>#{{tag}}</b></span></h1>
            {% elif tag == "Ruby" %}
          <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-red"><b>#{{tag}}</b></span></h1>
            {% elif tag == "Go" %}
          <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-grey"><b>#{{tag}}</b></span></h1>
            {% else %}
          <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black"><b>#{{tag}}</b></span></h1>
          {% endif %}
  </div>
</header>

<br>
<br>
<br>


   {% for Posts in search_tag %}

  <div style="padding-top:20px" class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
      <h3><b><a style="color:black" href="{% url 'postone' Posts.pk%}">{{ Posts.title }}</a></b></h3>

      <h5><span style="color:blue; font-size:15px">@{{ Posts.author }}</span>&nbsp;<span class="w3-opacity">{{ Posts.date_posted }}</span></h5>
        <br>
    </div>

    <div class="w3-container">
      <p>
          {% if Posts.tags == "Python" %}
          <button style="font-size:12px;background-color: green;border: hidden;" type="button" class="btn btn-primary">
              #{{ Posts.tags }}
          </button>
          {% elif Posts.tags == "Java" %}
          <button style="font-size:12px;background-color: blue;border: hidden;" type="button" class="btn btn-primary">
              #{{ Posts.tags }}
          </button>
            {% elif Posts.tags == "JavaScript" %}
          <button style="font-size:12px;background-color: #BDB76B;border: hidden;" type="button" class="btn btn-primary">
              #{{ Posts.tags }}
          </button>
            {% elif Posts.tags == "JavaScript" %}
          <button style="font-size:12px;background-color: black;border: hidden;" type="button" class="btn btn-primary">
              #{{ Posts.tags }}
          </button>
            {% elif Posts.tags == "Ruby" %}
          <button style="font-size:12px;background-color: red;border: hidden;" type="button" class="btn btn-primary">
              #{{ Posts.tags }}
          </button>
            {% elif Posts.tags == "Go" %}
          <button style="font-size:12px;background-color: grey;border: hidden;" type="button" class="btn btn-primary">
              #{{ Posts.tags }}
          </button>
          {% else %}
          <button style="font-size:12px;background-color: black;border: hidden;" type="button" class="btn btn-primary">
             <span style="color:white">#{{ Posts.tags }} </span>
           </button>
          {% endif %}
      </p>
        <br>
      <div style="text-align:center">
          <p>
              <span style="color:blue; font-weight: bold; font-size:16px"><span style="font-size:20px" class="glyphicon glyphicon-thumbs-up"> </span>{{ Posts.likes }} </span> &nbsp;
              <span style="color:red; font-weight: bold; font-size:16px"><span style="font-size:20px" class="glyphicon glyphicon-thumbs-down"> </span>{{ Posts.dislikes }} </span> &nbsp;</span>
              <span style="color:black; font-weight: bold; font-size:16px"><span style="font-size:20px" class="glyphicon glyphicon-comment"></span> {{ Posts.number_comments }} </span> &nbsp;
              <span style="color:black; font-weight: bold; font-size:16px"><span style="font-size:20px" class="glyphicon glyphicon-eye-open"></span> {{ Posts.count }} </span>
          </p>

      </div>
    </div>
  </div>
    {% endfor %}
  <hr>
<!-- END BLOG ENTRIES -->
<!--</div>-->



{% endblock %}



