{% extends "appone/new_base.html"%}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
<h1 style="text-align:center;font-weight: bold;">Search results ...</h1>
</div>

<br>


<div class="w3-col l8 s12">
  <!-- Blog entry -->
   {% for Posts in search %}

  <div style="padding-top:20px" class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
      <h3><b><a style="color:black" href="{% url 'postone' Posts.pk%}">{{ Posts.title }}</a></b></h3>

      <h5><span style="color:blue; font-size:15px">@{{ Posts.author }}</span>&nbsp;<span class="w3-opacity">{{ Posts.date_posted }}</span></h5>
        <br>
    </div>

    <div class="w3-container">
      <p>
          {{ Posts.text|truncatechars:200}}
      </p>
        <br>
      <div style="text-align:center">
          <p>
              <span style="color:blue; font-weight: bold; font-size:16px"><span style="font-size:20px" class="glyphicon glyphicon-thumbs-up"> </span>{{ Posts.likes }} </span> &nbsp;
              <span style="color:red; font-weight: bold; font-size:16px"><span style="font-size:20px" class="glyphicon glyphicon-thumbs-down"> </span>{{ Posts.dislikes }} </span> &nbsp;</span>
              <span style="color:black; font-weight: bold; font-size:16px"><span style="font-size:20px" class="glyphicon glyphicon-comment"></span> {{ Posts.number_comments }} </span> &nbsp;
          </p>

      </div>
    </div>
  </div>
    {% endfor %}
  <hr>
<!-- END BLOG ENTRIES -->
</div>



{% endblock %}



