{% extends "appone/all_posts.html"%}
{% load crispy_forms_tags %}

{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'appone/css/style.css' %}">

<h1>COUNT : {{ count }}</h1>

<br>


    <div style="background-color:red; padding: 20px;
     text-align:center; width:400px; margin: 0 auto;">
        <h1>Daniel</h1>

    </div>

 <br>

<div class="container">
  <div style="height:250px; border: 1px solid blue" class="row">
    <div style="padding: 50px;height:250px;background-color:red;text-align:center; " class="col-xs-4 col-sm-4">
      <h3>Column 1</h3>
      <h3>Column 1</h3>
      <p>Lorem ipsum dolor..</p>
    </div>
    <div  style="padding: 20px;height:250px;border: 1px solid green; text-align:center;" class="col-xs-8 col-sm-8">
      <h3>Column 3</h3>
      <h3>Column 3</h3>
      <h3>Column 3</h3>
      <h3>Column 3</h3>

      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
</div>



<br>
<br>

<div class="container">
  <div style="border: 1px solid blue" class="row">
    <div style="text-align:center;" class="col-xs-4 col-sm-4">
      <h3>Column 1</h3>
      <h3>Column 1</h3>
      <p>Lorem ipsum dolor..</p>
    </div>
    <div  style="text-align:center;" class="col-xs-8 col-sm-8">
      <h3>Column 3</h3>
      <h3>Column 3</h3>
      <h3>Column 3</h3>
      <h3>Column 3</h3>
      <h3>Column 3</h3>
      <h3>Column 3</h3>
      <h3>Column 3</h3>
      <h3>Column 3</h3>

      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
</div>

<br>
<br>

<div class="container">
  <div class="post">

      <h5> TEST </h5>
      <h5> TEST </h5>
      <h5> TEST </h5>
      <h5> TEST </h5>

  </div>
</div>

<br>
<br>
<br>
<br>






{% endblock %}