{% extends "appone/all_posts.html"%}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">

    <h1 style="text-align:center;font-weight: bold;">Sign in</h1>
    <br>
    <br>
  <form action="" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
      <br>
      <button  type="submit" class="btn btn-success btn-lg center-block">Sign In</button>
    </form>

    <br>
    <br>
    <br>

</div>

<div class="container">

        <h3>
            You don't have an account ? <a style="font-weight:bold" href="{% url 'register' %}">Sign Up</a>
        </h3>


</div>
{% endblock content %}
