{% extends "appone/all_posts.html"%}
{% load crispy_forms_tags %}
{% block content %}


<br>
<div class="container" style="border-radius:10px;background-color:#D2EDF8; padding-top:20px; padding-bottom:40px">
<!--<div class="card border-primary">-->
  <!--<div class="card-header"><h1 style="text-align:left;font-weight: bold;">User information</h1></div>-->
<!--</div>-->

    <h1 style="text-align:left;font-weight: bold;">User information</h1>

    <br>

    <div class="card ">
  <div class="card-header">Username</div>
  <div class="card-body">

    <p class="card-text">{{ user.username }}</p>
  </div>
</div>

    <br>


    <div class="card">
  <div class="card-header">Email adress</div>
  <div class="card-body">

    <p class="card-text">{{ user.email }}</p>
  </div>
</div>
</div>


<br>
<br>
<br>

<div  class="container">

  <h1 style="text-align:left;font-weight: bold;">Update your account</h1>

<form action="" method="POST">
    {% csrf_token %}
    {{ update_form|crispy }}
    <br>
    <button type="submit" class="btn btn-primary btn-lg center-block">Update </button>
</form>

</div>




{% endblock content %}
